.popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;

    background: #333;
    background: rgba(0, 0, 0, .3);
}

.popup__window {
    min-width: 400px;
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;

    text-align: left;
    color: #eee;
    padding: 15px;
    vertical-align: middle;
    margin: 100px 0;
    background: #f2f2f2;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;

    -webkit-box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .3);
       -moz-box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .3);
         -o-box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .3);
            box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .3);

}

.popup__header {
    position: relative;
    margin: -15px -15px 20px -15px;
    background: #f1f1f1;
    min-height: 44px;
    padding: 0 30px 0 15px;
    line-height: 44px;
    color: #858484;
    text-shadow: 0 1px 0 #fff;
    font-size: 16px;

    -webkit-border-radius: 4px 4px 0 0;
       -moz-border-radius: 4px 4px 0 0;
         -o-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;

    -webkit-box-shadow: inset 0 -40px 40px -20px #e0e0e0, 0 1px 0 0 #fff;
       -moz-box-shadow: inset 0 -40px 40px -20px #e0e0e0, 0 1px 0 0 #fff;
         -o-box-shadow: inset 0 -40px 40px -20px #e0e0e0, 0 1px 0 0 #fff;
            box-shadow: inset 0 -40px 40px -20px #e0e0e0, 0 1px 0 0 #fff;
}

.popup__content {
    position: relative;
    color: #333;
}

.popup__content_loading {
    height: 60px;

    /* todo: добавить анимированный лоадер */
    background: red;
}

.popup:after {
    content: "";
    display: inline-block;
    *display: inline;
    *zoom: 1;

    vertical-align: middle;
    height: 100%;
    width: 0;
}

.popup__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    margin: 12px 12px 0 0;
    cursor: pointer;
    z-index: 102;
    text-align: center;
    background: #b7b7b7;
    color: #e8e8e8;
    font-size: 22px;
    line-height: 20px;

    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
            transition: all 0.2s ease;

    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
         -o-border-radius: 20px;
            border-radius: 20px;

    -webkit-box-shadow: inset 0 1px 0 0 #7a7a7a, 0 1px 0 0 #fff;
       -moz-box-shadow: inset 0 1px 0 0 #7a7a7a, 0 1px 0 0 #fff;
         -o-box-shadow: inset 0 1px 0 0 #7a7a7a, 0 1px 0 0 #fff;
            box-shadow: inset 0 1px 0 0 #7a7a7a, 0 1px 0 0 #fff;
}

.popup__close:hover {
    background: #6691d7;
    color: #fff;
    text-shadow: 0 1px 1px #3f5c8c;

    -webkit-box-shadow: inset 0 1px 2px 0 #3f5c8c, 0 1px 0 0 #fff;
       -moz-box-shadow: inset 0 1px 2px 0 #3f5c8c, 0 1px 0 0 #fff;
         -o-box-shadow: inset 0 1px 2px 0 #3f5c8c, 0 1px 0 0 #fff;
            box-shadow: inset 0 1px 2px 0 #3f5c8c, 0 1px 0 0 #fff;
}

.popup_body {
    height: 100%;
    overflow: hidden;
}