.select {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;

    vertical-align: middle;
}

.select__field {
    position: relative;
    display: block;
    width: 100%;
    opacity: 0;
    height: 37px;
    z-index: 2;
    cursor: pointer;
    font-size: 14px;
    padding: 0 13px 0 0;
}

.select__value {
    position: absolute;
    background: #fff;
    height: 37px;
    line-height: 36px;
    border: 1px solid #d8d8d8;
    font-size: 14px;
    padding: 0 26px 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    z-index: 1;
    text-align: left;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.select__value:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    margin: -1px 0 0 0;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top: 5px solid #9b9b9b;
}

.select_focus .select__value {
    border-color: #84a72e;
}