.title {
    position: relative;
    display: block;
    font-family: "Open Sans",arial,sans-serif;
    font-weight: normal;
    margin: 0 0 20px 0;
    color: #222;
}

.title_big {
    font-size: 28px;
    margin-bottom: 28px;
}

.title_middle {
    font-size: 20px;
    margin-bottom: 20px;
}

.title_little {
    font-size: 16px;
    margin-bottom: 14px;
}

.title_topic {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 14px;
}

.title_white {
    color: #fff;
}

.title_noBottomMargin {
    margin-bottom: 5px;
}