.company {
    position: relative;
    margin: 0 -20px 20px;
}

.company__head {
    height: 180px;
    position: relative;
    background: #fff;
    border-bottom: 1px solid #fff;
    margin: 0 0;
    z-index: 2;
}

.company__shortInfo {
    position: absolute;
    padding: 10px 20px 16px 20px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    color: #fff;

    -webkit-box-shadow: inset 0 -20px 40px 0 rgba(0, 0, 0, .3);
       -moz-box-shadow: inset 0 -20px 40px 0 rgba(0, 0, 0, .3);
         -o-box-shadow: inset 0 -20px 40px 0 rgba(0, 0, 0, .3);
            box-shadow: inset 0 -20px 40px 0 rgba(0, 0, 0, .3);
}

.company__name {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 36px;
    font-weight: normal;
    margin: 0 0 0 0;
    padding: 5px 20px;
    text-shadow: 1px 1px 0 #000;
    max-width: 620px;
    color: #fff;

    background: #000;
    background: rgba(0, 0, 0, .5);
}

.company__infoBlock {
    position: relative;
    background: #fff;
    padding: 20px;
    margin: 0 0 20px 0;
}

.company__logo {
    position: absolute;
    width: 140px;
    height: 140px;
    background: #fff;
    left: 20px;
    top: 50%;
    margin: -70px 0 0 0;

    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;

    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
       -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
         -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
}

.company__content {
    position: relative;
    min-height: 100px;
}

.company__columnLeft {
    width: 600px;
    padding: 20px 20px;
    min-height: 100px;
    position: relative;
    float: left;

    background: #fff;
    z-index: 3;

    box-shadow: 10px 0 5px -10px rgba(0, 0, 0, .2);
}

.company__columnRight {
    width: 280px;
    padding: 20px 20px 0 20px;
    min-height: 100px;
    position: relative;
    float: right;

    background: rgba(255, 255, 255, .6);
    margin: 15px 0 0 0;
    z-index: 2;

    /*box-shadow: -20px 0 0 0 rgba(255, 255, 255, .6);*/


}

.company__controls {
    position: relative;
    margin: 0 0 17px 0;
}

.company__about {
    margin: 0 0 30px 0;
    line-height: 20px;
    padding: 0 0 24px 0;
    border-bottom: 1px solid #ddd;
}

.company__info {
    position: relative;
    margin: 0 0 30px 0;
    background: #fff;
    min-height: 60px;
    padding: 20px 20px 15px;
    font-size: 15px;
    color: #333;

    /*border-left: 5px solid #ccc;*/
    /*border-right: 5px solid #ccc;*/

    -webkit-box-shadow: inset 0 -60px 60px -20px #F0F0F0;
       -moz-box-shadow: inset 0 -60px 60px -20px #F0F0F0;
         -o-box-shadow: inset 0 -60px 60px -20px #F0F0F0;
            box-shadow: inset 0 -60px 60px -20px #F0F0F0;
}

.company__info:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 10px;
    height: 10px;
    z-index: -1;

    -webkit-border-radius: 400px / 20px;
       -moz-border-radius: 400px / 20px;
            border-radius: 400px / 20px;

    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .25);
       -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .25);
         -o-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .25);
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .25);
}

.company__infoItem {
    margin: 0 0 8px 0;
}

.company__subway {
    text-decoration: none;
    border-bottom: 1px dotted;
    white-space: nowrap;
}

.company__subway:active {
    color: #ff0000;
}

.company__menu {
    position: relative;
    padding: 0 0 0 20px;
    height: 40px;
    margin: 0 -20px 20px;

    /*background: #ddd;*/
    border-bottom: 1px solid #ddd;
}

.company__menuItem {
    position: relative;
    margin: 0 16px 0 0;
    padding: 0 0;
    list-style-type: none;
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    font-weight: bold;
}

.company__menuLink {
    position: relative;
    text-decoration: none;
    color: #808080;
    display: block;
    height: 40px;

    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

.company__menuLink:hover,
.company__menuLink_active {
    color: #333;
    box-shadow: inset 0 -3px 0 0 red;
}

.company__photos {
    position: relative;
    margin: 0 0 10px 0;
}

.company__services {
    position: relative;
    margin: 0 0 30px 0;
    background: #f7f7f5;
    min-height: 60px;
    padding: 20px 20px 15px;
    font-size: 15px;

}


.company__servicesItem {
    position: relative;
    margin: 0 0 8px 0;
}
