.header {
    position: absolute;
    left: 0;
    right: 0;
    background: #181c20;
    margin: 0 0;
    padding: 0 0;
    height: 40px;
    overflow: hidden;
    z-index: 20;

    -webkit-box-shadow: inset 0 40px 40px -20px #2b3034;
       -moz-box-shadow: inset 0 40px 40px -20px #2b3034;
         -o-box-shadow: inset 0 40px 40px -20px #2b3034;
            box-shadow: inset 0 40px 40px -20px #2b3034;

    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.header__blast {
    position: relative;
    height: 40px;
    margin: 0 -20px;
    background: #181c20;
}

.header_fixed {
    position: fixed;
    top: 20px;
    left: 50%;
    width: 150px;
    height: 500px;
    margin: 0 0 0 -650px;

    box-shadow: inset 0 40px 40px -20px #2b3034, 0 3px 6px 0 rgba(0, 0, 0, .5);
}

.header_fixed .header__logo {
    display: none;
}

.header__logo {
    position: relative;
    float: left;
    height: 30px;
    width: 100px;
    margin: 5px 20px 0 20px;

    background: #fff;

}