.user {
    position: relative;
    text-decoration: none;
}

.user_middle {
    display: block;
    margin: 0 0 15px 0;
    padding: 0 0 0 65px;
    height: 50px;

    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
}

.user_middle:hover {
    background: #fff;

    -webkit-box-shadow: 0 0 0 10px #fff;
       -moz-box-shadow: 0 0 0 10px #fff;
         -o-box-shadow: 0 0 0 10px #fff;
            box-shadow: 0 0 0 10px #fff;
}

.user_middle .user__pic {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
}

.user_middle .user__name {
    display: block;
    padding: 7px 0 0 0;
    margin: 0 0 2px 0;
    color: #333;
}

.user_middle .user__status {
    display: block;
    font-size: 12px;
    color: #999;
}