.topic {
    position: relative;
    margin: 0 0;
}

.topic_preview {
    padding-left: 65px;
    padding-top: 26px;
    margin-bottom: 30px;
}

.topic__content {
    position: relative;
    margin: 0 0 20px 0;
    line-height: 20px;
}

.topic__info {
    position: relative;
    padding: 10px 10px;
    border-top: 1px solid #ddd;
}

.topic_preview .topic__info {
    /*margin-left: -65px;*/
}

.topic__date {
    display: inline-block;
    *display: inline;
    *zoom: 1;

    position: relative;
    font-size: 13px;
}

.topic__comments {
    display: inline-block;
    *display: inline;
    *zoom: 1;

    position: relative;
    font-size: 13px;
}

.topic__favorites {
    display: inline-block;
    *display: inline;
    *zoom: 1;

    position: relative;
    font-size: 13px;
}