.topic {
    position: relative;
    margin: 0 0;
}

.topic_preview {
    padding-left: 65px;
    padding-top: 26px;
    margin-bottom: 30px;
}

.topic__content {
    position: relative;
    margin: 0 0 15px 0;
}

.topic__info {
    position: relative;
    background: #fff;
    padding: 10px 10px;
}

.topic__date {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    font-size: 13px;
}

.topic__comments {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    font-size: 13px;
}

.topic__favorites {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    font-size: 13px;
}