.text {
    position: relative;
    line-height: 21px;

    margin: 0 0 25px 0;
}

.text_bottomBorder {
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}

.text_noMarginBottom {
    margin-bottom: 0;
}