.bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: #fff;

    -webkit-box-shadow: 0 3px 15px 0 #cfcfcf;
       -moz-box-shadow: 0 3px 15px 0 #cfcfcf;
            box-shadow: 0 3px 15px 0 #cfcfcf;
}