.bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: #fff;

    -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .18);
       -moz-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .18);
            box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .18);
}