.feature {
    position: relative;
    min-height: 100px;
    margin: 0 0 30px 0;
    padding: 30px 0;

    background: #f7f7f7;
    z-index: 5;

    overflow: hidden;
}

.feature:before {
    content: "";
    position: absolute;
    top: -16px;
    left: 0;
    right: 0;

    height: 16px;
    background: #fff;

    z-index: 10;

    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .18), 0 1px 0 0 rgba(0, 0, 0, .05);
       -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .18), 0 1px 0 0 rgba(0, 0, 0, .05);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .18), 0 1px 0 0 rgba(0, 0, 0, .05);

}

.feature:after {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 0;
    right: 0;

    height: 16px;
    background: #fff;

    z-index: 10;

    -webkit-box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, .18), 0 -1px 0 0 rgba(0, 0, 0, .05);
       -moz-box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, .18), 0 -1px 0 0 rgba(0, 0, 0, .05);
            box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, .18), 0 -1px 0 0 rgba(0, 0, 0, .05);
}

.feature_blue {
    background: #6f97ba;
}

.feature_map {
    -webkit-transition: height .3s ease;
       -moz-transition: height .3s ease;
         -o-transition: height .3s ease;
            transition: height .3s ease;
}


.feature_open {
    height: 500px;
}

.feature__companyName {
    max-width: 700px;
    padding: 20px;

    background: #000;
    background: rgba(0, 0, 0, .5);
}

.feature__photos {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    overflow: hidden;
}

.feature__photosContent {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: -400px;
}

.feature__photosItem {
    float: left;
    position: relative;
    height: 100%;
    width: auto;
}