.button {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0 15px;
    height: 36px;
    line-height: 36px;
    border: 0;
    vertical-align: middle;
    background: #42B7E2;
    text-decoration: none;
    color: #fff;
    margin: 0 5px 0 0;
    font-size: 12px;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;

    -webkit-box-shadow: inset 0 -20px 40px -20px rgba(0, 0, 0, .2), 0 1px 0 0 rgba(255, 255, 255, .8);
       -moz-box-shadow: inset 0 -20px 40px -20px rgba(0, 0, 0, .2), 0 1px 0 0 rgba(255, 255, 255, .8);
         -o-box-shadow: inset 0 -20px 40px -20px rgba(0, 0, 0, .2), 0 1px 0 0 rgba(255, 255, 255, .8);
            box-shadow: inset 0 -20px 40px -20px rgba(0, 0, 0, .2), 0 1px 0 0 rgba(255, 255, 255, .8);
}

.button:hover {
    -webkit-box-shadow: inset 0 -20px 40px -20px rgba(0, 0, 0, .2), inset 0 20px 40px -20px rgba(255, 255, 255, .3), 0 1px 0 0 rgba(255, 255, 255, .8);
       -moz-box-shadow: inset 0 -20px 40px -20px rgba(0, 0, 0, .2), inset 0 20px 40px -20px rgba(255, 255, 255, .3), 0 1px 0 0 rgba(255, 255, 255, .8);
         -o-box-shadow: inset 0 -20px 40px -20px rgba(0, 0, 0, .2), inset 0 20px 40px -20px rgba(255, 255, 255, .3), 0 1px 0 0 rgba(255, 255, 255, .8);
            box-shadow: inset 0 -20px 40px -20px rgba(0, 0, 0, .2), inset 0 20px 40px -20px rgba(255, 255, 255, .3), 0 1px 0 0 rgba(255, 255, 255, .8);
}

.button:active,
.button_active {
    line-height: 38px;

    -webkit-box-shadow: inset 0 1px 6px 0 rgba(0, 0, 0, .3), 0 1px 0 0 rgba(255, 255, 255, .8);
       -moz-box-shadow: inset 0 1px 6px 0 rgba(0, 0, 0, .3), 0 1px 0 0 rgba(255, 255, 255, .8);
         -o-box-shadow: inset 0 1px 6px 0 rgba(0, 0, 0, .3), 0 1px 0 0 rgba(255, 255, 255, .8);
            box-shadow: inset 0 1px 6px 0 rgba(0, 0, 0, .3), 0 1px 0 0 rgba(255, 255, 255, .8);
}