.menu {
    position: relative;
    margin: 0 0;
    padding: 0 0;
    height: 40px;
    margin: 0 0;
}

.menu__item {
    position: relative;
    float: left;
    list-style-type: none;
    margin: 0 0 0 0;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
}

.menu__link {
    position: relative;
    color: #ccc;
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    text-shadow: 0 1px 0 #000;

    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}

.menu__link:hover {
    background: #353a3d;
}