.menu {
    position: relative;
    margin: 0 0;
    padding: 0 0;
    height: 50px;
    margin: 0 0;
}

.menu__item {
    position: relative;
    float: left;
    list-style-type: none;
    margin: 0 0 0 0;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
}

.menu__link {
    position: relative;
    color: #000;
    text-decoration: none;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;

    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}

.menu__link:hover {
    background: #ddd;
}

.header_fixed .menu__item {
    float: none;
    display: block;
    clear: both;
}